body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

.main-text-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  background: url('../images/papyrus_scroll_main_text2.png') no-repeat center center;
  background-size: contain;
  visibility: hidden;
  padding: 10%;
  opacity: 0;
  transition: 1.5s;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .main-text-container {
      top: 15%;
      width: 95%;
      padding: 50%;
  }
}

/* Adjustments for larger screens */
@media (min-width: 1024px) {
  .main-text-container {
      width: 60%;
      max-width: 600px;
      padding: 20%;
  }
}
/* Icon Button Styling */
#help-icon-button {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

#settings-icon-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}

.scope {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}
